.profilediv {
    padding: 20px;
}

.currentlylisteddiv {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
}

.currentlylisteddiv h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.currentlylisted {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
}

.pastpurchasesdiv {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
}

.solditemsdiv {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
}

.solditemsdiv h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.pastpurchasesdiv h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.profiledivheader {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profiledivheader h1 {
    font-size: 36px;
}

.pastpurchases {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
}

.solditems {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
}
